# Gitignore file
# ------------------

# Ignore IDE files
.idea
.venv
.old

# Ignore .env file
.env

# Ignore logs
logs

api/assets
api/users.json
database/database.db
database/test.*

# Ignore runtime files
__pycache__

# ignore system files
.DS_Store
test/test_api.sh
